<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card-css/for-detail.css">
    <title>for detail cards</title>
</head>

<body>
    <div class="container">
        <img src="card-images/images.jpeg" class="img" alt="">
        <center>
            <div class="title">
                <h5>
                    This is card Title Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur, nostrum?
                </h5>
            </div>
        </center>
        <div class="text1">
            <p id="text2">
                This is card Text Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iure illum
                asperiores quaerat adipisci vitae exercitationem? Possimus magnam provident iure doloribus officia
                quidem cum facilis? Obcaecati molestias possimus at voluptates.
            </p>
        </div>
    </div>
</body>

</html>