<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="card-css/card.css">
    <title>make a new card </title>
</head>

<body>
    <div class="container">
        <div class="img-and-title">
            <img class="card-i" src="card-images/images.jpeg">
                <p class="p-r">this is card title</p>
        </div>
    </div>
</body>

</html>