<!-- <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
<script defer src="https://pyscript.net/latest/pyscript.js"></script>
<py-env>
    - pygame
</py-env>
<py-config>
    packages = ["pygame"]
  </py-config>
<py-script>
    # Simple pygame program

# Import and initialize the pygame library
import pygame
pygame.init()

# Set up the drawing window
screen = pygame.display.set_mode([500, 500])

# Run until the user asks to quit
running = True
while running:

    # Did the user click the window close button?
    for event in pygame.event.get():
        if event.type == pygame.QUIT:
            running = False

    # Fill the background with white
    screen.fill((255, 255, 255))

    # Draw a solid blue circle in the center
    pygame.draw.circle(screen, (0, 0, 255), (250, 250), 75)

    # Flip the display
    pygame.display.flip()

# Done! Time to quit.
pygame.quit()
</py-script>
 -->
 <html>
    <head>
      <title>Ice Cream Picker</title>
      <meta charset="utf-8">
      <link rel="stylesheet" href="https://pyscript.net/latest/pyscript.css" />
      <script defer src="https://pyscript.net/latest/pyscript.js"></script>
    </head>
    <body>
  
      <py-config>
        packages = ["matplotlib", "pandas"]
      </py-config>
  
      <py-script>
        import js
        import pandas as pd
        import matplotlib.pyplot as plt
  
        from pyodide.http import open_url
        from pyodide.ffi import create_proxy
  
        url = (
            "https://raw.githubusercontent.com/Cheukting/pyscript-ice-cream/main/bj-products.csv"
        )
        ice_data = pd.read_csv(open_url(url))
  
        current_selected = []
        flavour_elements = js.document.getElementsByName("flavour")
  
        def plot(data):
            plt.rcParams["figure.figsize"] = (22,20)
            fig, ax = plt.subplots()
            bars = ax.barh(data["name"], data["rating"], height=0.7)
            ax.bar_label(bars)
            plt.title("Rating of ice cream flavours of your choice")
            display(fig, target="graph-area", append=False)
  
        def select_flavour(event):
            for ele in flavour_elements:
                if ele.checked:
                    current_selected = ele.value
                    break
            if current_selected == "ALL":
                plot(ice_data)
            else:
                filter = ice_data.apply(lambda x: ele.value in x["ingredients"], axis=1)
                plot(ice_data[filter])
  
        ele_proxy = create_proxy(select_flavour)
  
        for ele in flavour_elements:
            if ele.value == "ALL":
              ele.checked = True
              current_selected = ele.value
            ele.addEventListener("change", ele_proxy)
  
        plot(ice_data)
  
      </py-script>
  
      <div id="input" style="margin: 20px;">
        Select your 🍨 flavour: <br/>
        <input type="radio" id="all" name="flavour" value="ALL">
        <label for="all"> All 🍧</label>
        <input type="radio" id="chocolate" name="flavour" value="COCOA">
        <label for="chocolate"> Chocolate 🍫</label>
        <input type="radio" id="cherry" name="flavour" value="CHERRIES">
        <label for="cherry"> Cherries 🍒</label>
        <input type="radio" id="berries" name="flavour" value="BERRY">
        <label for="berries"> Berries 🍓</label>
        <input type="radio" id="cheese" name="flavour" value="CHEESE">
        <label for="cheese"> Cheese 🧀</label>
        <input type="radio" id="peanut" name="flavour" value="PEANUT">
        <label for="peanut"> Peanut 🥜</label>
      </div>
  
      <py-repl>
        ice_data
      </py-repl>
  
      <div id="graph-area"></div>
    </body>
  </html>